*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* CSS Reset Ends Here */

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component {
  max-width: 90%;
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  border-radius: 20px;
  border: none;
  text-align: center;
  box-shadow: 0px 6px 20px 4px hsl(218, 39%, 81%);
} /* TODO: set component width to be responsive */

@media screen and (min-width: 375px) {
  .component {
    max-width: 80%;
  }
}

@media screen and (min-width: 500px) {
  .component {
    width: 60%;
  }
}

@media screen and (min-width: 700px) {
  .component {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .component {
    width: 30%;
  }
}

@media screen and (min-width: 1440px) {
  .component {
    width: 20%;
  }
}

.qrcode {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.25em;
}

h1 {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
  color: hsl(218, 44%, 22%);
  /* padding: 0 0.1em; */
}

p {
  font-size: 0.9rem;
  color: hsl(220, 15%, 55%);
  padding: 0 1em 1em 1em;
  /* margin-bottom: 0.15em; */
}
